
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:100px;
    text-align: center;
    
}
.ccinza {
    background-color: rgb(133, 133, 133);
}
.cverm {
    background-color: rgb(236, 122, 122);
}
.cazul {
    background-color: rgb(114, 162, 250);
}

.lcinza {
    color: rgb(116, 116, 116);
    font-size: 100px;
    font-style: italic;
}

.lverm{
    color: rgb(216, 7, 7);
    font-size: 100px;
    font-style: italic;
}
.tverm {
    color: rgb(173, 0, 0);
}
.pverm {
    color: rgb(173, 0, 0);
}
.lazul {
    color: blue;
    font-size: 100px;
    font-style: italic;
}
.tazul {
    color: blue;
}
.pazul {
    color: blue;
}
