
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #b6f3da;
}
.cabecalho {
    background-image: linear-gradient(#307357,#00ff95);
    min-height: 150px;
    
}
.cabecalho > h1 {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 0 black;
    
}
.cabecalho>p{
    text-align: center;
    padding-bottom: 30px;
    color: white;
}
.menu {
    background-image: linear-gradient(90deg,#156f49,#2adb91);
    padding: 14px;
    
}
.menu > a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: 0.2s ;
}
.menu >a:hover {
    padding: 10px;
    transform: scale(1.2);
    background-color: #00ff9568;
    border-radius: 3px;
}
.meio p {
    text-indent: 15px;
    text-align: justify;
    line-height: 1.4em;
}

.meio{
    max-width: 800px;
    min-width: 280px;
    margin: auto;/*Da pra usar o flex aq, mas...*/
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    text-align:center;
}
.meio img,iframe{
    padding: 10px 0 10px 0;
    width: 100%;

}
.meio #bug {
    max-width: 400px;
    display: block;
    margin: auto;
}
.content > h2 {
font-size: 2em;
background-color: #24b17667;
color: #0c3524;
text-align: center;
padding: 5px;
}
.content > h3 {
    font-size: 1.5em;
    background-color: #24b17667;
    color: #0c3524;
    padding: 5px;
}
.content > p > strong {
    color: #145b3e;
}
.rj {
    background-color: #00ff9568;
    border-radius: 10px;
    
}
.rj > ul,p,abbr{
    list-style: none;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}
.rj > ul > li > abbr:hover {
    cursor: pointer;
}
.rj > h2 {
    background-color: #156f49;
    color: white;
    padding: 10px 20px ;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}
.rj ul {
    columns: 2;
    text-align: start;
}
.rj >ul>li::before {
    content: "☑️";
}

footer{
    color: white;
    background-color: #156f49;
    padding:1px;
    text-align: center;
    margin: 0;
    font-size: 13px;
    
}

